---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Professionals from '../components/Professionals.astro';
import Gallery from '../components/Gallery.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout>
  <Header />
  <main>
    <Hero />
    <Services />
    <Professionals />
    <Gallery />
    <Faq />
    <Contact />
  </main>
  <Footer />
</MainLayout>
